#include "int8_gemm.h"

#define KERNEL_OPERATION_SME(M, N, K, ALPHA, SA, LDA, SB, LDB, C, LDC, X, Y, BUF) \
    ${KERNEL}                                                               \
    (M, N, K, SA, LDA, ALPHA[0], (FLOAT *)SB, LDB, \
        (int32_t *)(C) + ((X) + (Y) * (LDC)) * COMPSIZE, LDC, BUF)

int nthreadsM = ${THREADS_M};
int nthreadsN = ${THREADS_N};

static void GetMSimpleThreadsRegions(const BLASLONG n, BLASLONG *rangeM,
    const BLASLONG nthreads, const BLASLONG alignedSz)
{
    size_t i;
    if (nthreads == 1 || n < alignedSz) {
        i = 2;
        rangeM[0] = 0;
        rangeM[1] = n;
    } else {
        BLASLONG avgRange = n / nthreads;
        if (avgRange < alignedSz) {
            avgRange = alignedSz;
        }
        avgRange = ((avgRange + alignedSz - 1) / alignedSz) * alignedSz;
        BLASLONG r = 0;
        BLASLONG tmpNthreads = MIN(nthreads, n / avgRange);
        if (tmpNthreads * avgRange < n) {
            r = n - tmpNthreads * avgRange;
        }
        for (i = 0; i < (size_t)tmpNthreads; ++i) {
            rangeM[i] = avgRange * (BLASLONG)i;
        }
        BLASLONG avgAddRange = ((nthreads - tmpNthreads) > 0) ?
            r / (nthreads - tmpNthreads) : 0;
        for (; i < (size_t)nthreads; ++i) {
            rangeM[i] = rangeM[i - 1] + avgAddRange;
        }

        if (nthreads < MAX_CPU_NUMBER) {
            rangeM[nthreads] = n;
            ++i;
        }
    }
    for (; i < MAX_CPU_NUMBER; ++i) {
        rangeM[i] = rangeM[i - 1];
    }
}

typedef struct {
    unsigned char type;
    size_t length;
    unsigned long long cookie;
    char reserved[40];
} AllocHead;

#define LEVEL3_GEMM_R ${R}
#define LEVEL3_GEMM_Q ${Q}
#define LEVEL3_GEMM_P ${P}
#define SME_JBLOCK ${JBLOCK}

static void SmeGemmDriver(const BlasArgs *args, FLOAT *sa, FLOAT *sb,
    BLASULONG mask, const BLASLONG *rangeM, const BLASLONG *rangeN)
{
    const int thread_id = omp_get_thread_num();
    const int mypos = thread_id % nthreadsM;
    const int nypos = thread_id / nthreadsM;

    BLASLONG ls;
    BLASLONG is;
    BLASLONG js;
    BLASLONG minL;
    BLASLONG minI;
    BLASLONG minJ;
    FLOAT *a = (FLOAT *)args->a;
    const BLASLONG lda = args->lda;
    FLOAT *b = (FLOAT *)args->b;
    const BLASLONG ldb = args->ldb;
    FLOATC *c = (FLOATC *)args->c;
    const BLASLONG ldc = args->ldc;
    float *alpha = (float *)args->alpha;
    const BLASLONG k = args->k;
    const BLASLONG mFrom = rangeM[mypos];
    const BLASLONG mTo = rangeM[mypos + 1];
    const BLASLONG nFrom = rangeN[nypos];
    const BLASLONG nTo = rangeN[nypos + 1];
    FLOAT *bufaa = sa;
    FLOAT *bufbb = sb;
    const int threads = nthreadsM;
    FLOAT **bufferB = (FLOAT **)args->common;

    for (js = nFrom; js < nTo; js += minJ) {
        minJ = nTo - js;
        if (minJ > LEVEL3_GEMM_R) {
            minJ = LEVEL3_GEMM_R;
        }
        for (ls = 0; ls < k; ls += minL) {
            minL = k - ls;
            if (minL >= LEVEL3_GEMM_Q) {
                minL = LEVEL3_GEMM_Q;
            }
${B_READY_PREPARE}
            if (mask & GEMM_PB_MASK) {
                int minJJ = SME_JBLOCK;
                int myJ = SME_JBLOCK * mypos;
                PACK_B(minL, minJJ, b, ldb, ls, js + myJ,
                    bufbb + minL * myJ, args->ob);
                const int Jleft = (int)minJ - SME_JBLOCK * threads;
                myJ = (Jleft + threads - 1) / threads;
                if (myJ * mypos + myJ > Jleft) {
                    myJ = Jleft - myJ * mypos;
                }
                PACK_B(minL, myJ, b, ldb, ls,
                    js + SME_JBLOCK * threads + myJ * mypos,
                    bufbb + minL * (SME_JBLOCK * threads + myJ * mypos), args->ob);
                bufferB[mypos] = bufbb;
${B_READY_PUBLISH_FLUSH}
            }

            for (is = mFrom; is < mTo; is += minI) {
                minI = mTo - is;
                if (minI >= LEVEL3_GEMM_P) {
                    minI = LEVEL3_GEMM_P;
                }

                PACK_A(minL, minI, a, lda, ls, is, bufaa, args->oa);

                int minJJ = SME_JBLOCK;
                const int start_off = (int)js + minJJ * mypos;
                for (int jj = start_off; jj < js + minJ; jj += minJJ) {
                    if (jj > start_off && is == mFrom) {
                        volatile int flag = 1;
                        while (flag) {
                            flag = 0;
${B_READY_POLL_FLUSH}
                            for (int id = 0; id < threads; ++id) {
                                if (bufferB[id] == 0) {
                                    flag = 1;
                                }
                            }
                        }
                    }
                    minJJ = minJ + js - jj;
                    if (minJJ > SME_JBLOCK) {
                        minJJ = SME_JBLOCK;
                    }
                    KERNEL_OPERATION_SME(minI, minJJ, minL, alpha, bufaa, lda,
                        bufbb + (jj - js) * minL, ldb, c, ldc, is, jj, NULL);
                }

                for (int jj = (int)js; jj < start_off && jj < js + minJ; jj += minJJ) {
                    minJJ = minJ + js - jj;
                    if (minJJ > SME_JBLOCK) {
                        minJJ = SME_JBLOCK;
                    }
                    KERNEL_OPERATION_SME(minI, minJJ, minL, alpha, bufaa, lda,
                        bufbb + (jj - js) * minL, ldb, c, ldc, is, jj, NULL);
                }
            }
        }
    }
}

void ${EXPORT}(const CBLAS_LAYOUT layout, const CBLAS_TRANSPOSE transa,
    const CBLAS_TRANSPOSE transb, const CBLAS_OFFSET offsetc, const BLASINT m,
    const BLASINT n, const BLASINT k, const float alpha, void *a_,
    const BLASINT lda, const BLASINT8 oa, void *b_, const BLASINT ldb,
    const BLASINT8 ob, const float beta, int32_t *c, const BLASINT ldc,
    const int32_t *oc, int8_t *sa, int8_t *sb)
{
    (void)layout;
    (void)transa;
    (void)transb;
    (void)offsetc;
    (void)alpha;
    (void)beta;

    const int nthreads = nthreadsM * nthreadsN;
    BlasArgs newArgs;
    memset(&newArgs, 0, sizeof(newArgs));
    static const float ALPHA_ONE = 1.0f;
    newArgs.alpha = (void *)&ALPHA_ONE;
    newArgs.nthreads = nthreads;
    newArgs.a = a_;
    newArgs.b = b_;
    newArgs.c = c;
    newArgs.m = m;
    newArgs.n = n;
    newArgs.k = k;
    newArgs.lda = lda;
    newArgs.ldb = ldb;
    newArgs.ldc = ldc;
    newArgs.oa = oa;
    newArgs.ob = ob;
    newArgs.oc = oc;

    BLASLONG rangeM[MAX_CPU_NUMBER + 2];
    BLASLONG rangeN[MAX_CPU_NUMBER + 2];
    GetMSimpleThreadsRegions(m, rangeM, nthreadsM, ${REGION_ALIGN});
    GetMSimpleThreadsRegions(n, rangeN, nthreadsN, ${REGION_ALIGN});

    const BLASULONG mask = GEMM_PB_MASK | GEMM_PA_MASK;
    volatile int *job_t[nthreads * nthreads];
    memset(job_t, 0, nthreads * nthreads * sizeof(int *));
    newArgs.common = (void *)job_t;

#pragma omp parallel for num_threads(nthreads) schedule(static) shared(sa, sb)
    for (int i = 0; i < nthreads; ++i) {
        const int thread_id = omp_get_thread_num();
        SmeGemmDriver(&newArgs,
            sa + (LEVEL3_GEMM_Q * LEVEL3_GEMM_P * sizeof(FLOAT) * 2 *
                nthreadsN * thread_id),
            sb, mask, rangeM, rangeN);
    }
}
